@model RegisterRequestDTO

<form method="post">
    <div class="container">
        <div class="text-center">
            <h2 class="text-primary">Register</h2>
        </div>
        <span class="text-danger" asp-validation-summary="All"/>
        <div class="row">
            <div class="col-12 pb-2">
                <input asp-for="Email" class="form-control" placeholder="Email.." />
                <span class="text-danger" asp-validation-for="Email"/>
            </div>
            <div class="col-12 pb-2">
                <input asp-for="Name" class="form-control" placeholder="Name.." />
                <span class="text-danger" asp-validation-for="Name"/>
            </div>
            <div class="col-12 pb-2">
                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number.." />
                <span class="text-danger" asp-validation-for="PhoneNumber"/>
            </div>
            <div class="col-12 pb-2">
                <input asp-for="Password" class="form-control" placeholder="Password.." />
                <span class="text-danger" asp-validation-for="Password"/>
            </div>
            <div class="col-12 pb-2">
                <select asp-for="Role" asp-items="ViewBag.Roles" class="form-control">
                    <option selected disabled>select</option>
                </select>
            </div>
            <div class="col-12 ">
                <button class="btn btn-success form-control" value="Submit"  type="submit">Register</button>
            </div>
        </div>
    </div>
</form>
@section Scripts{
         <partial name="_ValidationScriptsPartial" />
}